body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    font-weight: 300;

}
h1{
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;

}
li{
    flex: 1;
}
nav li {
    top: 35px;
    position: relative;
    font-size: 25px;
}
.main-left{
    background: rgb(148, 142, 142);
    width: 50%;
    float: left;
    height: 600px;
}
.main-right{
    background: rgb(158, 156, 156);
    width: 50%;
    float:right;
    height: 600px;
}

.main-left h1{
text-align: center;
top: 50%;
position: relative;
}
.main-right h1{
    text-align: center;
    top: 50%;
    position: relative;
    }
    .main-left-bottom {
        background: rgb(177, 173, 173);
        width: 50%;
        float: left;
        height: 600px;
    }
    .main-right-bottom {
        background: rgb(119, 113, 113);
        width: 50%;
        float:right;
        height: 600px;
    }
    
    .main-left-bottom h1{
    text-align: center;
    top: 50%;
    position: relative;
    }
    .main-right-bottom h1{
        text-align: center;
        top: 50%;
        position: relative;
        }
nav{
    height: 200px;
    width: 100%;
    background: gray;
    color: #fff;
}
.main-container{
    background: #F6F3F2;
}
